:root {
	--primary-a0: #d93452;
	--primary-a10: #e15263;
	--primary-a20: #e86a75;
	--surface-a0: #121212;
	--surface-a10: #282828;
	--surface-a20: #3f3f3f;
	--text-color: white;
	--text-small: #aaa;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: system, sans-serif;
}

hr { margin: 0.5em; }
h1 {
	margin: 0.67em 0;
	color: var(--primary-a0);
}
h2 { color: var(--primary-a10);}
h3 { color: var(--primary-a20); }
h1, h2, h3 { line-height: 1.1; }
main { padding: 8px; }

header {
	padding: 0 8px;
	height: 80px;
	display: flex;
	align-items: center;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	background: var(--surface-a0);
	color: var(--text-color);
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

button {
	border: none;
	padding: 8px;
	border-radius: 8px;
	background: var(--primary-a10);
	cursor: pointer;
}
button:hover { background: var(--primary-a20) }

input[type=text] {
	padding: 8px;
	border: none;
	border-radius: 8px;
	background: var(--surface-a20);
	color: var(--text-color);
}